      <div class="footer">
	<div class="navbar">
	  <div class="container">
	    <ul class="nav navbar-nav">
	      <li><a href="/library/">Browse Library</a></li>
	      <li><a href="/about/">About this Project</a></li>
	      <li><a href="/blog/">Our Blog</a></li>
	      <li><a href="/terms/">Terms of Use</a></li>
	    </ul>
	    <p class="pull-right">Powered by <a href="http://thinkbot.net/">thinkbot</a> and tea <span class="glyphicon glyphicon-leaf"></span></p>
	  </div>
	</div>
      </div>

    </div>

    <%= javascript_include_tag "vendor/jquery-1.9.1.min.js", "vendor/bootstrap", "main" %>

    <script>
      var _gaq=[['_setAccount','UA-139341-9'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>

</html>
