<div id="modal-signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-signinLabel" aria-hidden="true">
  <div class="modal-body">
    <%= partial "partials/signin" %>
  </div>
</div>
