<div id="modal-signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-signupLabel" aria-hidden="true">
  <div class="modal-body">
    <%= partial "partials/signup" %>
  </div>

</div>
