<% wrap_layout :blog_layout do %>
<h2><%= current_page.title %></h2>
<%= yield %>
<p class="text-muted"><%= current_page.date.strftime('%B %e, %Y') %> &mdash; <%= link_to "Read other entries", "/blog/" %></p>
<% end %>
