<% wrap_layout :blog_layout do %>
    <h2><%= current_page.title %></h2>
    <%= yield %>
    <p class="muted"><%= current_page.date.strftime('%B %e, %Y') %> &mdash; <%= link_to "Read other posts", "/blog/" %></p>
<% end %>
