<div class="row-fluid text-center">
  <div class="span4">
    <img src="holder.js/150x150" class="img-circle">
    <h3>Learn by doing</h3>
    <p>No setup, no hassle, just exercise-based learning. No more boring text books!</p>
  </div>
  <div class="span4">
    <img src="holder.js/150x150" class="img-circle">
    <h3>Real-world learning</h3>
    <p>Emphasize real-world relevance of the material used to motivate abstract topics</p>
  </div>
  <div class="span4">
    <img src="holder.js/150x150" class="img-circle">
    <h3>Join the community</h3>
    <p>Get help from experts in the community&mdash;and work for them once you've learnt the skills!</p>
  </div>
</div>
