    <h3>From the blog</h3>
    <ul class="unstyled">
      <% 3.times do |num| %>
      <li>
	<a href="#"><%= course_description %></a>
	<p class="muted"><%= lorem.date "%b %Y"%> &mdash; <%= course_name %></p>
      </li>
      <% end %>
    </ul>
