<div class="btn-group">
  <a href="#" class="btn btn-inverse"><i class="icon-white icon-fast-backward"></i></a>
  <a href="#" class="btn btn-inverse"><i class="icon-white icon-backward"></i></a>
  <a href="#" class="btn btn-inverse"><i class="icon-white icon-stop"></i></a>
  <a href="#" class="btn btn-inverse"><i class="icon-white icon-play"></i></a>
  <a href="#" class="btn btn-inverse"><i class="icon-white icon-pause"></i></a>
  <a href="#" class="btn btn-inverse"><i class="icon-white icon-forward"></i></a>
  <a href="#" class="btn btn-inverse"><i class="icon-white icon-fast-forward"></i></a>
</div>
