<h3>Recent blog posts</h3>
<ul class="unstyled">
  <% blog.articles[0...10].each do |article| %>
  <li>
    <a href="<%= article.url %>"><%= article.title %></a>
    <br>
    <p class="muted"><small><%= article.date.strftime('%B %e, %Y') %></small></p>
  </li>
  <% end %>
</ul>
