---
title: Einstein for the masses
content:
  - foo
goals: 1
---
<ul class="breadcrumb">
  <li><%= link_to 'Library', '/library/' %> <span class="divider">/</span></li>
  <li><%= link_to 'Individual lectures', '/library/#lectures' %> <span class="divider">/</span></li>
</ul>
<div class="row-fluid">
  <div class="span8">
    <h2>Einstein for the masses</h2>
    <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/3enwR6e9V9A" frameborder="0" allowfullscreen></iframe></div>
  </div>
  <div class="span4">
    <h3>About this lecture</h3>
    <p>A basic introduction to Einstein’s thinking&mdash;one that assumes no prior knowledge, just an open mind. In one short hour, Ramamurti Shankar (Professor of Physics & Applied Physics at Yale) breaks down Einstein’s theories and formulas for a lay audience.</p>
    <p>If this whets your appetite, then you’ll want to download Prof. Shankar’s free course called <a href="http://oyc.yale.edu/physics/phys-200">The Fundamentals of Physics.</a></p>
  </div>
</div>
