---
title: About the project
contains:
  - foo
goals: 1
ideas:
  - bar
---

<h2>About the project</h2>
<p>Mechanics Academy aims to be a comprehensive resource for anyone interested in learning mechanics. In particular, the project aims to:</p>

<ul>
  <li>Attract learners to the rich and useful topic of mechanics</li>
  <li>Act as a catalogue of high-quality learning resources for mechanics</li>
  <li>Offer help and support to mechanics learners</li>
  <li>Provide mechanisms to test learning and gauge competency</li>
  <li>Serve as a conduit between a community with mechanics-related competency and the industry</li>
  <li>Provide scientific computing services <em>on the cloud</em> for easy access to powerful computational mechanics tools</li>
</ul>









