---
title: Contribute to the project
content:
  - Avenues where people can help
  - A contact form
goals: 0
---

<div class="row-fluid">
  <div class="span8">
    <h2>Making Mechanics Academy happen</h2>
    <p>Notice that much of what you're seeing right now is simply a prototype. I am using a simple home-brewed system to iterate through different designs before finalizing the appearance and behaviour of Mechanics Academy.</p>
    <p>If you think this project is a good idea and want to work with me toward achieving it, please get in touch with me. There is a lot of work left to be done all across the board, including:</p>
    <ul>
      <li>Cataloguing existing and creating new learning material</li>
      <li>Information architecture</li>
      <li>User-experience and visual frontend design</li>
      <li>Programming the backend functionality</li>
      <li>Testing and spreading the word</li>
    </ul>
    <p>So whatever your skills are, I am sure you can help. So please do!</p>
  </div>
  <div class="span3 offset1">
    <%= partial "partials/contact_information" %>
  </div>
</div>
