---
title: Contribute to the project
contains:
  - foo
goals: 1
ideas:
  - bar
---

<h2>Contribute to the project</h2>
<p>Notice that much of the site at this point is simply a prototype. I am using <a href="http://http://middlemanapp.com/">Middleman</a> to iterate through different static versions of the site before finalising the backend system that powers Mechanics Academy.</p>
<p>If you think this project is a good ideas and want to work with me on achieving it, please get in touch with me.</p>
