---
title: My courses
content:
  - A progress report for courses the student is currently taking
  - A report card of courses the student has taken in the past
  - Important information (e.g. upcoming deadlines) related to courses the student is currently taking
  - Link to a complete list of classes the student might want to take
  - Recent news related to Mechanics Academy
goals: 1
ideas:
  - Present important information pertinent to current classes along with the progress report
  - Add a link to "review course" below the certificate images
  - Take a look at Udacity's and edX's dashboards
  - Look at Codeschool's completed courses badges on the dashboard
---

<div class="row-fluid">
  <div class="span8">
    <h2>Current courses</h2>
    <%= partial "/partials/progress" %>
  </div>
  <div class="span3 offset1">
    <h3>Completed courses</h3>
    <% 4.times do |num| %>
    <a href="#"><img src="holder.js/120x120/text:Certificate" class="img-circle certificate"></a>
    <% end %>
    <hr>
    <%= partial "partials/recent_blog_posts" %>
    <p><%= link_to 'Read more&hellip;', '/blog/', :class => 'btn' %></p>
  </div>
</div>
