---
title: Mechanics Academy - An intuitive way to learn modern mechanics!
content:
  - foo
goals: 1
---

<div class="row-fluid">
  <div class="span6">
    <div class="jumbotron">
      <h1>An intuitive way to learn modern mechanics!</h1>
      <p class="lead">Mechanics Academy teaches an exciting blend of mechanics, mathematics and scientific computing through video lessons, in-browser exercises and support from a knowledgeable community.</p>
      <%= link_to 'Start learning today!', '/library.html', class: "btn btn-large btn-success" %>
    </div>
  </div>
  <div class="span6 text-center">
    <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/pp89tTDxXuI" frameborder="0" allowfullscreen></iframe></div>
  </div>
</div>
<hr>
<h2>Sample learning material</h2>
<ul class="thumbnails">
  <% data.lectures.each do |lecture| %>
  <%= partial 'course_listing', :locals => { :course => lecture } %>
  <% end %>
  <% data.courses.each do |course| %>
  <%= partial 'course_listing', :locals => { :course => course } %>
  <% end %>
</ul>
