---
title: Mechanics Academy Home
---

<div class="row-fluid">
  <div class="span6">
    <div class="jumbotron">
      <h1>An intuitive way to learn modern mechanics!</h1>
      <p class="lead">Mechanics Academy teaches an exciting blend of mechanics, mathematics and scientific computing through video lessons, in-browser exercises and support from a knowledgeable community.</p>
	<a class="btn btn-large btn-success" href="#">Get started today!</a>
    </div>
  </div>
  <div class="span6 text-center">
    <img src="holder.js/500x300/social/text:Motivating material" class="img-polaroid">
  </div>
</div>
<hr>
<div class="row-fluid text-center">
  <div class="span4">
    <img src="holder.js/150x150" class="img-circle">
    <h3>Learn by doing</h3>
    <p>No setup, no hassle, just exercise-based learning. No more boring text books!</p>
  </div>
  <div class="span4">
    <img src="holder.js/150x150" class="img-circle">
    <h3>Real-world learning</h3>
    <p>Emphasize real-world relevance of the material used to motivate abstract topics</p>
  </div>
  <div class="span4">
    <img src="holder.js/150x150" class="img-circle">
    <h3>Join the community</h3>
    <p>Get help from experts in the community&mdash;and work for them once you've learnt the skills!</p>
  </div>
</div>
<hr>
