---
title: Library of learning material
---

<ul class="breadcrumb">
  <li><a href="#">Library</a> <span class="divider">/</span></li>
  <li class="active">Advanced topics</li>
</ul>

<ul class="thumbnails">
  <% 16.times do |num| %>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/300x200/text:Course art" alt="">
    </a>
    <h3><%= course_name %></h3>
    <p><%= course_description %></p>
  </li>
  <% end %>
</ul>

<div class="pagination pagination-large">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
