---
title: Library of learning material
content:
  - Motivating material - OER (videos, pictures, articles, simulations) and original content (simulations, animations, pictures, articles, user stories)
  - Catalogue of open educational resources (complete courses, independent resources)
  - Original course material (complete courses, short tutorials, supplemental resources, tests to augment OER)
goals: 1, 2
ideas:
  - Separate OER and original material by badges (e.g. <a href="http://www.codeschool.com/courses#all">free courses</a>)
  - Use topic-based classification (e.g. <a href="http://ed.ted.com/lessons">fluid mechanics, solid mechanics</a>)
  - Use media-based classification (e.g. <a href="http://oedb.org/open/">video, audio, text</a>)
  - Use difficulty-based classification (e.g. <a href="https://www.udacity.com/courses">beginner, intermediate, advanced</a>; also consider the drop-down list or colour and badges)
  - Material can be classified into two categories -- get motivated and dive deeper (complete courses, tutorials, etc.)
  - Add "<a href="http://www.codeschool.com/courses#paths">paths</a>," "<a href="http://teamtreehouse.com/library/learning-adventures">learning adventures</a>" or "<a href="http://www.academicearth.org/playlists/laws-of-nature">playlists</a>" as a means of guiding students
  - Use <a href="http://oli.cmu.edu/learn-with-oli/see-our-free-open-courses/">tabs to navigate between categories</a>?
  - Use an intelligent breadcrumb navigation on top, along with links to <a href="http://www.academicearth.org/subjects/computerscience">separate pages for different topics</a>
  - Use Studix-style metadata to generate a <a href="https://www.khanacademy.org/exercisedashboard">Khan Academy-style knowledge map</a>
  - Eventually move toward <a href="http://ed.ted.com/series">TED Ed-style grand questions</a>?
---

<div class="row-fluid">
  <div class="span3 sidebar">
    <h2>Learning library</h2>
    <ul class="nav nav-list sidenav">
      <li><a href="#demos"><i class="icon-star"></i> <i class="icon-chevron-right"></i> Motivating demonstrations</a></li>
      <li><a href="#lectures"><i class="icon-facetime-video"></i> <i class="icon-chevron-right"></i> Individual lectures</a></li>
      <li><a href="#courses"><i class="icon-list-alt"></i> <i class="icon-chevron-right"></i> Complete courses</a></li>
      <li><a href="#resources"><i class="icon-book"></i> <i class="icon-chevron-right"></i> Supplemental resources</a></li>
    </ul>
  </div>
  <div class="span9">
    <h3 id="demos">Motivating demonstrations</h3>
    <ul class="thumbnails">
      <% data.demos.each do |demo| %>
      <%= partial 'partials/course_listing', :locals => { :course => demo, :width => "span4" } %>
      <% end %>
    </ul>
    </hr>
    <h3 id="lectures">Individual lectures</h3>
    <ul class="thumbnails">
      <% data.lectures.each do |lecture| %>
      <%= partial 'partials/course_listing', :locals => { :course => lecture, :width => "span4" } %>
      <% end %>
    </ul>
    <hr>
    <h3 id="courses">Complete courses</h3>
    <ul class="thumbnails">
      <% data.courses.each do |course| %>
      <%= partial 'partials/course_listing', :locals => { :course => course, :width => "span4" } %>
      <% end %>
    </ul>
    <hr>
    <h3 id="resources">Supplemental resources</h3>
  </div>
</div>
