---
title: Library of learning material
contains:
  - Motivating material
  - Open educational resources and original course catalogue
goals: 1, 2
ideas:
  - Material can be classified into two categories -- get motivated and dive deeper (complete courses, tutorials, etc.)
  - Use an intelligent breadcrumb navigation on top
---

<ul class="breadcrumb">
  <li><a href="#">Library</a> <span class="divider">/</span></li>
  <li class="active">Advanced topics</li>
</ul>

<ul class="thumbnails">
  <% 16.times do |num| %>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/300x200/text:Course art" alt="">
    </a>
    <h3><%= course_name %></h3>
    <p><%= course_description %></p>
  </li>
  <% end %>
</ul>

<div class="pagination pagination-large">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
