---
title: Library of learning material
content:
  - Motivating material
  - Open educational resources and original course catalogue
goals: 1, 2
ideas:
  - Material can be classified into two categories -- get motivated and dive deeper (complete courses, tutorials, etc.)
  - Use an intelligent breadcrumb navigation on top
---

<div class="row-fluid">
  <div class="span3 sidebar">
    <h2>Learning library</h2>
    <ul class="nav nav-list sidenav">
<!--      <li><a href="#start"><i class="icon-star"></i> <i class="icon-chevron-right"></i> Get started</a></li> -->
      <li><a href="#courses"><i class="icon-list-alt"></i> <i class="icon-chevron-right"></i> Complete courses</a></li>
      <li><a href="#lectures"><i class="icon-facetime-video"></i> <i class="icon-chevron-right"></i> Individual lectures</a></li>
      <li><a href="#resources"><i class="icon-book"></i> <i class="icon-chevron-right"></i> Supplemental resources</a></li>
    </ul>
  </div>
  <div class="span9">
    <h3 id="courses">Complete courses</h3>
    <ul class="thumbnails">
      <% data.courses.each do |course| %>
      <%= partial 'course_listing', :locals => { :course => course } %>
      <% end %>
    </ul>
    <hr>
    <h3 id="lectures">Individual lectures</h3>
    <ul class="thumbnails">
      <% data.lectures.each do |lecture| %>
      <%= partial 'course_listing', :locals => { :course => lecture } %>
      <% end %>
    </ul>
    <hr>
    <h3 id="resources">Supplemental resources</h3>
  </div>
</div>
