---
title: Getting help while you learn
content:
  - A curated discussion forum
  - Google+ hangout schedule for office hours
  - An easily searchable, meta-data rich knowledge base
goals: 3, 5
---

<div class="row-fluid">
  <div class="span8">
    <h2>Getting help while you learn</h2>
    <p>Mechanics Academy will foster a community of co-learners and mechanics experts to approach for help while learning. This community will be built across a curated discussion forum on the site and presence on social media.</p>
    <p>In addition, the site will also offer the following means of support:</p>
    <ul>
      <li>Web conferencing (e.g. Google+ hangouts) connecting instructors and groups of students</li>
      <li>A ticket-based support system</li>
      <li>An easily searchable, meta-data rich knowledge base</li>
    </ul>
  </div>
</div>
