---
title: Get help while you learn
content:
  - foo
goals: 1
---

<div class="row-fluid">
  <div class="span8">
    <h2>Support mechanisms</h2>
    <p>Mechanics Academy will foster a community of co-learners and mechanics experts to approach for help while learning. This community will be built across a curated discussion forum, presence on social media, and the <%= link_to 'Mechanics Academy blog', '/blog.html' %> highlighting topics of interest to the community.</p>
    <p>In addition, the site will also offer means of support:</p>
    <ul>
      <li>Web conferencing (e.g. Google+ hangouts) connecting instructors and groups of students</li>
      <li>A ticket-based support system</li>
      <li>An easily searchable, meta-data rich knowledge base</li>
    </ul>
  </div>
</div>
