---
title: Video test
content:
  - foo
goals: 1
---

<div class="row-fluid">
  <div class="span8">
    <h2>Video demo</h2>
    <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/3enwR6e9V9A" frameborder="0" allowfullscreen></iframe></div>
  </div>
  <div class="span4">
    <h3>About this course</h3>
    <p>This course provides a thorough introduction to the principles and methods of physics for students who have good preparation in physics and mathematics. Emphasis is placed on problem solving and quantitative reasoning. This course covers Newtonian mechanics, special relativity, gravitation, thermodynamics, and waves.</p>
  </div>
</div>
